{% extends 'base.html.twig' %}

{% block head %}
<title>Askaway | A propos</title>
<meta name="robots" content="index">
{% endblock %}


{% block body %}
<main>
    <div class="uk-container">
        <h1>À Propos de Askaway</h1>
        <p>Bienvenue sur <strong>Askaway</strong>, votre ressource de confiance pour tout ce qui concerne le développement personnel et la gestion du temps. Nous nous engageons à vous fournir des conseils pratiques, des techniques éprouvées et des stratégies efficaces pour vous aider à optimiser votre productivité, atteindre vos objectifs et vivre une vie plus équilibrée.</p>
    
        <h2>Notre Mission</h2>
        <p>Chez <strong>Askaway</strong>, nous croyons que tout le monde peut améliorer sa vie en adoptant de meilleures méthodes de gestion du temps et en se concentrant sur le développement personnel. Notre mission est de vous offrir des outils et des stratégies pour tirer le meilleur parti de chaque journée, que ce soit dans votre carrière ou dans votre vie personnelle.</p>
    
        <h2>Pourquoi la Gestion du Temps Est-Elle Cruciale ?</h2>
        <p>La gestion du temps est essentielle pour toute personne qui cherche à améliorer sa productivité et réduire le stress. Nous explorons les techniques qui ont fait leurs preuves, comme la <strong>Méthode Pomodoro</strong>, le <strong>Time Blocking</strong>, et bien d'autres, pour vous permettre de travailler plus intelligemment, pas plus dur.</p>
    
        <h3>Des Stratégies Personnalisées pour Vous</h3>
        <p>Nous comprenons que chaque individu est différent. C’est pourquoi nous vous proposons des conseils adaptés à différents modes de vie et objectifs. Qu'il s'agisse de maximiser votre efficacité au travail ou de trouver un meilleur équilibre entre votre vie professionnelle et personnelle, Askaway est là pour vous guider.</p>
    
        <h2>Nos Valeurs</h2>
        <p>Nous valorisons l'authenticité, la simplicité et l'efficacité. Nous croyons fermement que chaque article sur <strong>Askaway</strong> doit apporter une réelle valeur ajoutée à nos lecteurs, en fournissant des solutions concrètes aux défis quotidiens de gestion du temps et de développement personnel.</p>
    
        <h2>Rejoignez-Nous !</h2>
        <p>Nous vous invitons à rejoindre notre communauté de personnes passionnées par l'amélioration continue. Abonnez-vous à notre newsletter et restez informé des dernières techniques et stratégies de gestion du temps, ainsi que des nouveautés dans le domaine du développement personnel.</p>
    
        <h2>Conclusion</h2>
        <p>Nous sommes ici pour vous aider à réaliser votre plein potentiel. Que vous cherchiez à mieux organiser votre emploi du temps, à améliorer votre bien-être ou à accomplir plus dans votre quotidien, <strong>Askaway</strong> est là pour vous accompagner à chaque étape. Merci de nous faire confiance pour vous guider sur ce chemin.</p>
    </div>    
    <section class="uk-padding uk-padding-remove-left">
        <a href="{{path('login')}}">Login as Admin </a>
    </section>
</main>
{% endblock %}
